/* General structure */

body {
    margin: 0 auto;
    padding: 0 15px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    line-height: 1.428571429;

    -webkit-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
}
@media (min-width: 768px) {
    body {
        max-width: 750px;
    }
}

img.logo {
  max-width:110%;
  text-align:left;
  display: block;
  margin-left: 0px;
}

img{
  max-width:110%;
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {
  margin:0;
  display: block;
  text-align: center;
  box-sizing: inherit;
}

figcaption {
  text-align: left;
  margin:20px;
  border-left: 2px solid #cb4b16;
  padding-left: 5px;
}

header {
  color: #999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em 0;
}

.info {
  font-size: 8px;
}

.navigation {
  float: right;
}

/*
.breadcrumb a:not(.self) {
  color: inherit;
}

.navigation a:not(.self) {
  color: inherit;
}
*/

a.self, a.self:hover, a.self:focus {
  color: white;
  border-radius:5px;
  border: 1px #cb4b16 solid;
  overflow: hidden;
  background-color: #cb4b16;
}

h1, h2, h3, h4, h5, h6, nav, #versioninfo {
    font-family: "Roboto",  Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
    line-height: 1.1;
}
h1, h2, h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 100;
    padding: 0 0px;
    font-size: 32px;
    margin-bottom: 20px;
    /*border-bottom: .1px solid #888;*/
}

/** I will probably add these verbatim for the Latex and Html versions*/
h1.title {
    font-size: 65px;
    font-weight: 100;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 40px; /*leave some space under*/
    text-align: left;
    border-left: 6px solid #cb4b16;
    padding: .1em .1em;
}

a.top-version {
  font-size: 15px;
  color: white;
  border-radius:5px;
  border: 1px #cb4b16 solid;
  overflow: hidden;
  background-color: #cb4b16;
}

h1.subtitle {
    font-size: 25px;
    font-weight: 100;
    margin-right: 20px;
    margin-top: 0px;
    margin-top: -40px; /*if attached under title, lift to cover empty space*/
    margin-bottom: 40px; /*leave some space under*/
    text-align: left;
    border-left: 6px solid #cb4b16;
    padding: .1em .3em;
}

h2.author {
    line-height: 1.8em;
    font-size: 20px;
    font-weight: 100;
    margin-right: 0px;
    margin-top: -40px; /*if attached under title, lift to cover empty space*/
    margin-bottom: 40px; /*leave some space under*/
    text-align: left;
    border-left: 6px solid #cb4b16;
    padding: .2em .5em;
}

h3.extras {
  line-height: 1.8em;
  font-size: 18px;
  font-weight: 100;
  margin-right: 0px;
  margin-top: -55px;/*if attached under title or author, lift to cover empty space*/
  margin-bottom: 40px; /*leave some space under*/
  text-align: left;
  font-style: italic;
  border-left: 6px solid #cb4b16;
  padding: .2em .5em;
}

.abstract-h3 {
  font-weight: 100;
}

h2 {
    font-size: 28px;
    /*border-bottom: 1px solid #ddd;*/
}
h3 {
    font-size: 25px;
    /*border-bottom: 1px solid #ddd;*/
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
@media (min-width: 992px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
}

nav {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    font-size: 15px;
    margin: 0 0 1em 0;
}
p {
    margin: 0 0 1em 0;
}

strong {
    font-weight: bold;
    color: #800517;
}

em {
    font-style: italic;
}

.footnotes {
    font-size:85%;
}

footer {
  padding-top: 0px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #ccc;
  text-align: justify;
  margin-top: 3em;
  margin-bottom: 1em;
}

footer a {
  color: #c98b72;
}

footer a img {
	margin-bottom: -0.25em;
  height:18px;
	width:auto;
}

footer table.foot {
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

footer table td.foot, table th.foot {
  vertical-align: bottom;
  text-align: left;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

pre.wip {
    background: #cb4b16;
	border-radius: 10px;
}

pre.wip code {
    font-family: "Roboto", Arial, sans-serif;
    color: white;
    background: #cb4b16;
}

blockquote {
  text-align: left;
  font-weight: 300;
  margin-left: 0px;
  margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 20px;
  border-right: 0;
  border-left: 2px solid #cb4b16;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 0;
  padding-left: 14px;
  /*word-break: break-all;
  word-wrap: break-word;*/
  letter-spacing: 1px;
  /*
  background: #ffffff;
  background: -moz-linear-gradient(left,  #ffffff 0%, #f9f2f4 100%);
  background: -webkit-linear-gradient(left,  #ffffff 0%,#f9f2f4 100%);
  background: linear-gradient(to right,  #ffffff 0%,#f9f2f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f2f4',GradientType=1 );
  */
	color: #808080;
}

blockquote blockquote {
    text-align: left;
	float: right;
    color: white;
    background: white;
	border-radius: 10px;
    padding: 15px;
    padding-bottom: 10px;
	margin: 10px;
	margin-bottom: 20px;
	width: 93%;
	border: 2px;
}

blockquote blockquote p {
	margin-left: 0px;
    text-align: left;
	margin: 0 0;
	padding: 0;
    line-height: 1.4;
}

blockquote blockquote li {
    color: #ccc;
    font-weight: 100;
}

blockquote blockquote p{
    color: #ccc;
    font-weight: 100;
}

blockquote blockquote strong{
    color: #ccc;
    font-weight: 900;
}

/*
by default first/last child is white, except when it's a link!
*/
blockquote blockquote p:first-child{
    border-bottom: 1px solid #f1f1f1;
    color: white;
    font-weight: 100;
}


blockquote blockquote p:last-child{
    color: white;
    font-size: .8em;
	font-variant: normal;
    text-align: right;
    font-weight: 100;
}

/*
blockquote blockquote p:last-child a{
    color: #ccc;
}

blockquote blockquote p:first-child a{
    color: #ccc;
}
*/

/*
blockquote p {
	margin: 0 0;
	padding: 0;
    line-height: 1.4;
}
*/

/*
blockquote p:last-child {
	width: 100%;
	margin-left: 0;
    font-weight: 300;
    font-size: .8em;
	font-variant: small-caps;
}
*/

/* Links layout */

a {
    text-decoration: none;
    color: #cb4b16;
    background: transparent;
}
a:hover, a:focus {
    color: #cb4b16;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted #cb4b16;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited, h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited {color: black;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover,
h5 a:hover {text-decoration: none;}

/* Code */

pre, code {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", monospace;
    font-size:85%;
}
pre {
    border-left: 2px solid #eee;
    white-space: pre-wrap;
    padding: 14px;
    padding-right: 0;
    margin: 20px 0;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    padding: 0 2px;
    color: #8D1A38;
    white-space: pre-wrap;
    background-color: #f9f2f4;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: #FFF;
}

a > code {
    color: #428BCA;
}

/* The rest */

#versioninfo {
    text-align: center;
    margin: 0.5em;
    font-size: 1.1em;
}
@media (min-width: 992px) {
    #versioninfo {
        font-size: 0.8em;
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
    .white-sticker {
        background-color: #fff;
        margin: 2px;
        padding: 0 2px;
        border-radius: .2em;
    }
}
#versioninfo a.hash {
    color: gray;
    font-size: 80%;
}

/*
blockquote {
    color: #000;
    margin: 20px 0;
    padding: 0px 20px;
    background-color: #f2f7f9;
    border: .1em solid #e5eef2;
}
blockquote p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
}
blockquote p:last-child {
    margin-bottom: 0;
}
*/

ul, ol {
    padding-left: 25px;
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}
dl {
    margin-bottom: 20px;
}
dd {
    margin-left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
}

/* Only display one level of hierarchy in the TOC */
nav ul ul {
    display: none;
}

nav#TOC {
    margin-bottom: 25px;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

/* Simulate Pandoc's table output styles */
table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;

	width: 100%;
/*
	margin: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;

  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
*/
}

th {
  border-bottom: 1px solid black;
}

td, th {
  padding: 5px;
  text-align: right;
}

tr {
  width: 1px;
  white-space: nowrap;
  vertical-align: top;
}

/*
table {
	width: 80%;
	margin: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
    text-align: center;

    border-collapse: collapse;
    font-size: 90%;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}
*/

/*
    margin:0;
    display: block;
    text-align: center;
    box-sizing: inherit;
*/

caption {
    text-align: left;
    margin:20px;
    border-left: 2px solid #cb4b16;
    padding-left: 5px;
    caption-side: bottom;
}

table tr.even {
    background: #F5F5F5;
}

/*
table td,
table th {
    vertical-align: bottom;
    border: 1px solid #ddd;
    padding: 5px;
}

table th {
    font-weight: 800;
    color: black;
}
*/
@media (min-width: 1170px) {
    pre {
        font-size: 14px;
    }

    pre.sourceCode.bibtex {
        font-size: 12px;
    }
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    p a[href]:after {
        content: " (" attr(href) ")";
    }
    footer a[href]:after {
        content: "";
    }
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    @page {
        margin: 2cm .5cm;
    }
    h1:not(.title), h2, h3 {
        border-bottom: 0px none;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
    table {
        border-collapse: collapse !important;
    }
    table td, table th {
        background-color: #fff !important;
    }
}

#keyword-table-marker + table thead { display: none; }
#keyword-table-marker + table td { border: none; }
#keyword-table-marker + table {
    margin-left: 2em;
    margin-bottom: 1em;
}

#acknowledgements { 
  font-size: 80%;
}

.twoWrapper { display: table;  width: 100%;}
.twoLeft { display: table-cell; width: 70%; }
.twoRight { display: table-cell; width: 30%; }
div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode { margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }

code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */

/* Force scrollbars onto browser window */
body {
    margin-bottom: 200%;
}

/* Box styles */
.myBox {
    border: none;
    font: 20px ;
    height: 200px;
    width: 80%;
    overflow: scroll;
}

table {
    width: 50%;
    max-width: 50%;
    margin: 10px 0;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    text-align: left;
}
#t01 tr:nth-child(even) {
    background-color: #eee;
}
#t01 tr:nth-child(odd) {
    background-color: #fff;
}
#t01 th {
    background-color: black;
    color: white;
}

#container {
    display: flex;
}

#left {
    flex: 0 0 65%;
}

#right {
    flex: 1;
}

.first{
    width:70%;
    height:300px;
    position:absolute;
    border:1px solid red;
}
.second{
    border:2px solid blue;
    width:40%;
    height:200px;
    position: relative;
    top: 315px;
}

#description {
    width: 50%;
    display:block;
    font-size:14px;
}


div[id^="tooltip"] {
    position: absolute;
    width: 400px;
    height: auto;
    padding: 10px;
    text-align:left !important;
    margin: left !important;

    background-color: #aec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

div[id^="tooltip"] > div{
    text-align:left;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}

