name: Run benchmarks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-benchmark:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        benchmark: [nlp, file-enc, unix50, log-analysis, max-temp, media-conv, sklearn, covid-mts, riker, oneliners, web-index, vps-audit, makeself, ray-tracing, git-workflow, port-scan, opt-parallel]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update && sudo apt install -y --no-install-recommends \
            curl wget unzip

      - name: Set execute permissions for main.sh
        run: chmod +x main.sh

      - name: Build benchmark Docker image
        run: |
          docker build -t benchmark-env -f Dockerfile .
          
      - name: Run Benchmark ${{ matrix.benchmark }}
        run: |
          docker run --rm \
            --cap-add NET_ADMIN \
            --cap-add NET_RAW \
            -v ${{ github.workspace }}:/benchmarks \
            -w /benchmarks \
            benchmark-env \
            bash -c "chmod +x main.sh && ./main.sh ${{ matrix.benchmark }} --small"

      - name: Upload .out and .err files
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ matrix.benchmark }}-logs
          path: ${{ matrix.benchmark }}/${{ matrix.benchmark }}.*
          if-no-files-found: error
